*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    font-family: "Gill Sans Extrabold", sans-serif;
}
/* body{
    background-color: #f8fafc;
} */

#main{
    padding: 3rem;
}
#navbar-top{
    margin: auto;
    max-width: 1800px;
    background-color: #ffffff;
}
.nav-link{
    padding-inline-start: 0;
    color: black;
    padding-right: 30px;
    text-decoration: none;
}

.nav-list{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: flex-end;
    gap: 1rem;
    padding: 20px;
    color: inherit;
    font-weight: bold;
    font-size: large;

}
.nav-link:hover {
    color: #2563eb;
}

#main-section{
    display: flex;
    gap: 5rem;
    justify-content: center;
    padding-top: 1rem;
    background-color: #ffffff;
}

.left-side{
    justify-content: flex-start;
    width: 50%;
    height: 100vh;


}
 .button {
    background-color: #3b82f6;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #f8fafc;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
}
.button:hover {
    background-color: #2563eb;
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-left: 10rem;
}
.left-side h1{
    font-size: 3rem;

}
.left-side span{
    color: #4070F4;
}
.right-side{
    background-image: url(/pedro-henrique-santos-4IoS45J9pmk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100vh;
    border-radius: 1rem;
}

/* Main 2*/
/* Slide effect for about me section dont forget */



#main-2{
    
    padding-top: 5rem;
}
.about-me{
    display: flex;
    justify-content: center;
    color: #4f6cff;
    font-size: 36px;
    margin-bottom: 10px;
}
#main-section-2{
    display: flex;
    width: 100%;
    background-color: #ffffff;
    height: auto;
    justify-content: center;
    padding: 3rem;
    gap: 5rem;
}

.left-side-2{
    width: 50%;
    background-image: url(/IMG_5671-Edit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    border-radius: 10rem;
    
    
}

.right-side-2{
    width: 50%;
    text-indent: 2em;
    font-size: large;
    text-align: center;
    padding-top: 5rem;
    
    
}
.left-side-2-container{
    display: flex;
    width: 40%;
    height: auto;
    justify-content: center;
    min-width: 40%;
}


/* Main 3 */
#main-3{
    padding-top: 10rem;
    display: flex;
    justify-content: center;
}
.contact {
  width: 100%;
  min-height: 70vh;
  text-align: center;
  padding-top: 60px;
}

.contact h1 {
  color: #4f6cff;
  font-size: 36px;
  margin-bottom: 10px;
}

.underline {
  width: 60px;
  height: 3px;
  background: #4f6cff;
  margin: 0 auto 40px auto;
}

.contact-form {
  width: 500px;
  margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 25px;
  border: 1.5px solid #1f2a44;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}

.contact-form textarea {
  height: 200px;
  resize: none;
}

.contact-form button {
  background: #4f6cff;
  color: #fff;
  border: none;
  padding: 12px 28px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  float: right;
}

.contact-form button:hover {
  background: #3f5cff;
}